{% extends 'studentBASE/base.html' %}
{% block menu %}
	<div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          	<li><a href="{% url 'group_list' %}">Groups</a></li>
          	<li  class="active"><a href="{% url 'student_list' %}">Students</a></li>
          	{% if not user.is_authenticated %}
                <li><a href="{% url 'login' %}">Login</a></li>
            {% else %}
                <li><a href="{% url 'logout' %}">Logout</a></li>
            {% endif %}
        </ul>
    </div>
{% endblock %}
{% block content %}
<div class="container">
	<div class="row">
		<h1>Edit student</h1>
		
		<form method='POST' action=''  class="form-horizontal">{% csrf_token %}
   			<div class="form-group">
   				<label class="col-sm-2 control-label" for="id_first_name">First name:</label> 
   				<div class="col-sm-3">
   					<input  class="form-control" id="id_first_name" maxlength="50" name="first_name" type="text" value="{{ student.first_name }}"/>
   				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label"  for="id_second_name">Second name:</label> 
				<div class="col-sm-3">
					<input id="id_second_name" class="form-control" maxlength="50" name="second_name" type="text" value="{{ student.second_name }}"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="id_last_name">Last name:</label> 
				<div class="col-sm-3">
					<input id="id_last_name" class="form-control" maxlength="50" name="last_name" type="text" value="{{ student.last_name }}"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="id_birth">Birth (YYYY-MM-DD):</label> 
				<div class="col-sm-3">
					<input class="form-control" id="id_birth" name="birth" type="text" value="{{ student.birth }}"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="id_number">Number:</label> 
				<div class="col-sm-3">
					<input class="form-control" id="id_number" name="number" type="text" value="{{ student.number }}"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="id_group">Group:</label> 
				<div class="col-sm-3">
					<select class="form-control"  class="col-sm-2 control-label" id="id_group" name="group">
						<option value="">---------</option>
						{% for group in group_list %}
							<option value="{{ group.id }}" {% if student.group.id == group.id %}selected="selected"{% endif %}>{{ group.title }}</option>
						{% endfor %}
					</select></p>
				</div>
			</div>
   			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
   					<input type='Submit'  class="btn btn-info" value="Save" />
   				</div>
   			</div>
		</form>

	</div>
</div>
{% endblock %}